body {
  background-color: white;
}

header {
  height: 100px;
  background-color: #111;
  color: salmon;
  text-align: center;
  font-size: 26pt;
}
.text {
  margin-left: 10%;
}

h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 26pt;
}

h2{
  /* margin: 10%; */
  font-size: 18pt;
  font-weight: bold;
}

footer {
  text-align: center;
  background-color: lightgray;
  color:#111;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: salmon;
  overflow: hidden;
}

ul.navbar li {
  display: inline;
}

ul.navbar li a {
  display: inline-block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #555;
}

.image-container {
  text-align: center;
}

 table tr td:last-child {
  background-color: gray;
}

.image-container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
